:root {
	--color-light-muted: #e9ebec;
	--color-light: #f4f5f6;
	--color-light-intense: #fff;

	--color-dark-muted: #2b303b;
	--color-dark: #20242c;
	--color-dark-intense: #121721;

	--color-primary-muted: #336999;
	--color-primary: #225581;
	--color-primary-intense: #194266;

	--color-secondary-muted: #b34d52;
	--color-secondary: #a63f44;
	--color-secondary-intense: #993338;

	--color-accent-muted: #ffd480;
	--color-accent: #ffc34d;
	--color-accent-intense: #ffb31a;

	--border-radius: 4px;
	--border-width: 2px;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 4rem;
	--space-xl: 6rem;

	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
	--font-monospace: 'SFMono-Regular', Andale Mono, Consolas, 'Liberation Mono', Menlo, monospace;
	--font-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

html {
	font-size: clamp(1rem, calc(0.9rem + 0.5vw), 1.3rem);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-sans);
	line-height: 1.5;
	color: var(--color-text);
	background-color: var(--color-background);
}
.container {
	max-width: 40rem;
	margin: 0 auto;
	padding: var(--space-md);
}
