:root {
	--color-light-muted: hsl(204, 8%, 92%);
	--color-light: hsl(204, 8%, 96%);
	--color-light-intense: #fff;

	--color-dark-muted: hsl(221, 16%, 20%);
	--color-dark: hsl(221, 16%, 15%);
	--color-dark-intense: hsl(221, 30%, 10%);

	--color-ui-muted: hsl(200, 5%, 73%);
	--color-ui: hsl(200, 8%, 54%);
	--color-ui-intense: hsl(199, 10%, 40%);

	--color-text-muted: var(--color-dark-muted);
	--color-text: var(--color-dark);
	--color-text-intense: var(--color-dark-intentse);

	--color-background-muted: var(--color-light-muted);
	--color-background: var(--color-light);
	--color-background-intense: var(--color-light-intense);

	--color-primary-muted: hsl(208, 50%, 40%);
	--color-primary: hsl(208, 58%, 32%);
	--color-primary-intense: hsl(208, 60%, 25%);

	--color-secondary-muted: hsl(357, 40%, 50%);
	--color-secondary: hsl(357, 45%, 45%);
	--color-secondary-intense: hsl(357, 50%, 40%);

	--color-accent-muted: hsl(40, 100%, 75%);
	--color-accent: hsl(40, 100%, 65%);
	--color-accent-intense: hsl(40, 100%, 55%);

	--border-radius: 4px;
	--border-width: 2px;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 4rem;
	--space-xl: 6rem;

	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		sans-serif;
	--font-monospace: "SFMono-Regular", Andale Mono, Consolas, "Liberation Mono", Menlo, monospace;
	--font-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

	--color-link-default: #1565c0;
	--color-link-hover: #0d47a1;
	--color-link-visited: #7b1fa2;
}

html {
	font-size: clamp(1rem, calc(0.9rem + 0.5vw), 1.3rem);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-sans);
	line-height: 1.5;
	margin: auto 0;
	color: var(--color-text);
	background-color: var(--color-background);
}

[data-background="primary"] {
	background-color: var(--color-primary);
}
[data-background="secondary"] {
	background-color: var(--color-secondary);
}
[data-background="accent"] {
	background-color: var(--color-accent);
	color: var(--color-dark);
}
[data-background="dark"] {
	background-color: var(--color-dark-intense);
	color: var(--color-light);
}
[data-background="light"] {
	background-color: var(--color-light-intense);
	color: var(--color-dark);
}
[data-text="dark"] {
	color: var(--color-dark);
}
[data-text="light"] {
	color: var(--color-light);
}
