a.button,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	--button-background: var(--color-primary);
	--button-color: var(--color-light);
	background-color: var(--button-background);
	color: var(--button-color);
	border: var(--border-width) solid var(--button-background);

	border-radius: var(--border-radius);
	cursor: pointer;
	display: inline-block;
	font-family: var(--font-sans);
	font-weight: 800;
	font-size: 0.8rem;
	line-height: 1;
	height: 2.5rem;
	padding: 0.75rem;
	letter-spacing: 0.15rem;
	padding: 0.75rem 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	&:hover,
	&:focus {
		outline: 0;
		--button-color: var(--color-light);
		--button-background: var(--color-primary-intense);
	}
	&[disabled] {
		--button-background: var(--color-ui-muted);
		cursor: default;
	}
	&.button-secondary {
		--button-background: var(--color-secondary);
		&:hover,
		&:focus {
			--button-background: var(--color-secondary-intense);
		}
	}
	&.button-accent {
		--button-background: var(--color-accent);
		--button-color: var(--color-dark);
		&:hover,
		&:focus {
			--button-background: var(--color-accent-intense);
			--button-color: var(--color-dark);
		}
	}
}
