code,
pre {
	font-family: var(--font-monospace);
}
code {
	white-space: nowrap;
}

pre {
	padding: var(--space-sm);
	margin: var(--space-sm) 0;
	background: var(--color-background-intense);
	overflow-y: hidden;
}
pre > code {
	margin: 0;
	display: block;
	white-space: pre;
}
