code,
pre {
	font-family: var(--font-monospace);
	background: var(--color-background-intense);
	padding: 0.25rem;
}
code {
	white-space: nowrap;
}

pre {
	overflow-y: hidden;
	& > code {
		display: block;
		padding: var(--space-sm);
		white-space: pre;
	}
}
