:root {
	color-scheme: dark;
	--color-text-muted: #818d98;
	--color-text: var(--color-light);
	--color-text-intense: var(--color-light-intentse);

	--color-ui-intense: #67717e;
	--color-ui: #454b54;
	--color-ui-muted: #383d47;

	--color-background-muted: var(--color-dark-muted);
	--color-background: var(--color-dark);
	--color-background-intense: var(--color-dark-intense);
	--color-background-card: var(--color-dark-muted);

	--color-link-default: #64b5f6;
	--color-link-hover: #bbdefb;
	--color-link-visited: #ce93d8;

	--color-shadow-intense: rgba(0, 0, 0, 0.3);
	--color-shadow: rgba(0, 0, 0, 0.2);
	--color-shadow-muted: rgba(0, 0, 0, 0.1);
}
