:root {
	--color-text-muted: #657176;
	--color-text: var(--color-light);
	--color-text-intense: var(--color-light-intentse);

	--color-ui-intense: hsla(206, 5%, 75%, 0.5);
	--color-ui: hsla(206, 5%, 75%, 0.3);
	--color-ui-muted: hsla(206, 5%, 75%, 0.1);

	--color-background-muted: var(--color-dark-muted);
	--color-background: var(--color-dark);
	--color-background-intense: var(--color-dark-intense);
	--color-background-card: var(--color-dark-muted);

	--color-link-default: #64b5f6;
	--color-link-hover: #bbdefb;
	--color-link-visited: #ce93d8;
}
