@media (prefers-color-scheme: dark) {
	:root {
		--color-text-muted: var(--color-light-muted);
		--color-text: var(--color-light);
		--color-text-intense: var(--color-light-intentse);

		--color-ui-intense: hsl(200, 5%, 73%);
		--color-ui: hsl(200, 8%, 54%);
		--color-ui-muted: hsl(199, 10%, 40%);

		--color-background-muted: var(--color-dark-muted);
		--color-background: var(--color-dark);
		--color-background-intense: var(--color-dark-intense);
		--color-background-card: var(--color-dark-muted);

		--color-link-default: #64b5f6;
		--color-link-hover: #bbdefb;
		--color-link-visited: #ce93d8;
	}
}
