[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='file'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
[type='week'],
textarea,
select {
	color: currentColor;
	-webkit-appearance: none;
	background-color: transparent;
	border: var(--border-width) solid var(--color-ui);
	border-radius: var(--border-radius);
	box-shadow: none;
	box-sizing: inherit;
	width: 100%;
	font: 400 0.9rem/1 var(--font-sans);
	height: 2rem;
	padding: 0 0.5rem;
	margin: 0.25em 0 0.75em 0;
	transition: background-color 150ms, border-color 150ms;
}
:is([type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='file'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], [type='week'], input:not([type]), textarea, select):focus {
	border-color: var(--color-link-default);
	outline: 0;
}
::placeholder {
	color: var(--color-ui);
}
textarea {
	line-height: 1.4;
}
[type='file'] {
	padding-top: 0.4rem;
	padding-top: 0.4rem;
	display: flex;
	align-items: center;
}
select {
	background: transparent
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="rgba(125,125,125,0.5)" d="M0,0l6,8l6-8"/></svg>')
		center right no-repeat;
}
select[multiple] {
	background: none;
	height: auto;
}
select:focus {
	background: var(--color-background)
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="rgba(125,125,125,0.5)" d="M12,8L6,0L0,8"/></svg>')
		center right no-repeat;
}

textarea {
	min-height: 6.5rem;
}
label {
	display: block;
	width: 100%;
}
label,
.label {
	font-size: 0.8rem;
	font-weight: 600;
}
legend {
	font-weight: 600;
	font-size: 1.25rem;
	float: left;
	margin-bottom: 0.5em;
	width: 100%;
}

fieldset {
	position: relative;
	box-sizing: border-box;
	border: none;
	border: var(--border-width) solid var(--color-ui-muted);
	border-radius: var(--border-radius);
	margin: var(--space-md) 0;
	padding: var(--space-sm);
}
fieldset > :last-child {
	margin-bottom: 0;
}
fieldset:focus-within {
	border: var(--border-width) solid var(--color-ui);
}

[type='radio'],
[type='checkbox'] {
	accent-color: var(--color-link-default);
	display: inline-block;
	cursor: pointer;
}
:where([type='radio'], [type='checkbox']) + label {
	width: auto;
	display: inline-block;
	font-size: 0.9rem;
	vertical-align: middle;
	font-weight: normal;
	text-transform: none;
	margin-left: 0.1rem;
	letter-spacing: 0;
	cursor: pointer;
}

.form-row {
	display: flex;
	gap: var(--space-sm);
}
.form-row > * {
	margin-top: 0;
}
.input-row {
	display: flex;
	align-items: center;
	margin: 0.25em 0 0.75em 0;
}
.input-row > * {
	border-radius: 0;
	margin: 0;
}
.input-row > :first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.input-row > :last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
