input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='file'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
	color: currentColor;
	font-family: var(--font-sans);
	font-size: 1rem;
	-webkit-appearance: none;
	background-color: transparent;
	border: var(--border-width) solid var(--color-ui);
	border-radius: var(--border-radius);
	box-shadow: none;
	box-sizing: inherit;
	height: 2.5rem;
	padding: 0.5rem 0.75rem;
	margin: 0.25em 0 0.75em 0;
	width: 100%;
	line-height: 1;
}
:is(input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='file'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='week'], input:not([type]), textarea, select):focus {
	border-color: var(--color-link-default);
	outline: 0;
}
::placeholder {
	color: var(--color-ui);
}
textarea {
	line-height: 1.4;
}
input[type='file'] {
	padding-top: 0.4rem;
	padding-top: 0.4rem;
	display: flex;
	align-items: center;
}

select {
	background: transparent
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="rgba(125,125,125,0.5)" d="M0,0l6,8l6-8"/></svg>')
		center right no-repeat;
}
select[multiple] {
	background: none;
	height: auto;
}
select:focus {
	background: transparent
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="rgba(125,125,125,0.5)" d="M12,8L6,0L0,8"/></svg>')
		center right no-repeat;
}

textarea {
	min-height: 6.5rem;
}
label {
	display: block;
	width: 100%;
}
label,
.label {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
}
legend {
	font-weight: 600;
	font-size: 1.25rem;
	float: left;
	margin-bottom: 0.5em;
	width: 100%;
}

fieldset {
	position: relative;
	box-sizing: border-box;
	border: none;
	border: var(--border-width) solid var(--color-ui-muted);
	border-radius: var(--border-radius);
	margin: var(--space-md) 0;
	padding: var(--space-sm);
}
fieldset > :last-child {
	margin-bottom: 0;
}
fieldset:focus-within {
	border: var(--border-width) solid var(--color-ui);
}

input[type='radio'],
input[type='checkbox'] {
	display: inline-block;
	cursor: pointer;
}
:where(input[type='radio'], input[type='checkbox']) + label {
	width: auto;
	display: inline-block;
	font-weight: normal;
	text-transform: none;
	margin-left: 0.1rem;
	letter-spacing: 0;
	cursor: pointer;
}

.form-row {
	display: flex;
	gap: var(--space-sm);
}
.form-row > * {
	margin-top: 0;
}
